* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    font-family: 'DM Sans', sans-serif;
    --pure-black: #000000;
    --light-grey: #dfdfdf;
    --pure-white: #ffffff;
    --gradient: #D67965;
    background: -webkit-linear-gradient(bottom left, #D67965, #1E43CF);
    background: -moz-linear-gradient(bottom left, #D67965, #1E43CF);
    background: linear-gradient(to top right, #D67965, #1E43CF);
}