* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

:root {
    font-family: 'DM Sans', sans-serif;
    --pure-black: #000000;
    --light-grey: #dfdfdf;
    --pure-white: #ffffff;
    --color-accent: linear-gradient(26.57deg, #FFC593 0.42%, #BC7198 43.46%, #5A77FF 83.33%);
}


body {
    overflow-x: hidden;
}

main {
    max-width: 1800px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: flex-start;
    padding: 30px 80px;
    margin: 0 auto;
    align-items: center;
}



.nav__links {
    text-decoration: none;
    margin-left: 20px;
    text-transform: uppercase;
    color: var(--pure-black);
    font-weight: 500;
    letter-spacing: 2px;
}

.nav__links:hover {
    color: var(--light-grey);
    transition: 0.2s ease-in-out;
}

.nav__button {
    padding: 10px 20px;
    background: var(--pure-black);
    color: var(--pure-white);
    text-decoration: none;
    margin-left: 50px;
}


.nav__button:hover {
    background: var(--light-grey);
    color: var(--pure-black);
    transition: 0.2s ease-in-out;
}

.nav__links--container {
    display: flex;
    align-items: center;

}

.nav__content--container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}



/*  Hero Section  *********/
.hero {
    display: flex;
}



.hero__text--container {
    background: var(--pure-black);
    padding: 90px 60px;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero__contents--left {
    min-width: 400px;

}

.hero__description {
    color: grey;
    margin-bottom: 30px;
    line-height: 1.5;
}

.hero__headline {
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: clamp(1.9rem, 2vw, 4.0rem);
    margin-bottom: 25px;
}

.invite {
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline;
}

.invite:hover {
    border-bottom: 1px solid white;

    transition: 0.2s ease-in-out;
}

.arrow {
    margin-left: 15px;

}

.hero__image--container {
    background-image: url('/assets/home/desktop/create-and-share.jpg');
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Beautiful Stories  ****/
.stories {
    display: flex;
}


.beautiful__stories--image {
    background-image: url("/assets/home/desktop/beautiful-stories.jpg");
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
}

.stories__text--container {
    padding: 90px 60px;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stories__headline {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: clamp(1.9rem, 2vw, 4.0rem);
    margin-bottom: 25px;
}

.stories__description {
    color: grey;
    margin-bottom: 30px;
    line-height: 1.5;
}


.invite--2 {
    color: var(--pure-black);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline;
}

.arrow--2 {
    color: var(--pure-black)
}

.invite--2:hover {
    border-bottom: 1px solid black;
    transition: 0.2s ease-in-out;
}

/* designed ******************/
.designed {
    display: flex;
}

.designed__text--container {
    background: var(--pure-black);
    padding: 90px 60px;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.designed--left {
    min-width: 400px;

}

.designed__description {
    color: grey;
    margin-bottom: 30px;
    line-height: 1.5;
}

.designed__headline {
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: clamp(1.9rem, 2vw, 4.0rem);
    margin-bottom: 25px;
}

.invite {
    color: var(--pure-white);
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    display: inline;
}

.invite:hover {
    border-bottom: 1px solid white;

    transition: 0.2s ease-in-out;
}

.arrow {
    margin-left: 15px;

}

.designed__image--container {
    background-image: url('/assets/home/desktop/designed-for-everyone.jpg');
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Responsive nav ************/
@media (max-width: 825px) {
    nav {
        padding-left: 20px;
        position: relative;
    }

    .nav__links--container {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        padding-top: 90px;
        height: 100vh;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transform: translateY(-100%);
        transition: 0.2s ease-in-out;
        width: 100%;

        background: white;
    }

    .nav__links {
        margin-bottom: 25px;
    }

    .nav__separator {
        width: 50%;
        height: 1px;
        background: rgba(128, 128, 128, 0.5);
        margin-bottom: 20px;
    }

    .nav__button {
        width: 300px;
        text-align: center;
        margin-right: 40px;
    }

    .hamburger {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        top: 1.3rem;
        right: 3.0rem;
        cursor: pointer;
        background: transparent;
         display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5px;
        z-index: 10;

    }

    .line {
        width: 100%;
        height: 2px;
        background: var(--pure-black);
        margin-bottom: 3px;
        border-radius: 5px;
        ;
    }

    /* dynamic class *********/

    .show {
        transform: translateY(0%);

    }

    .clicked .line-1 {
        transform: rotate(-45deg) translate(2px, 5px);
        transition: 0.3s ease-in-out;



    }

.clicked .line-2 {
        transform: rotate(45deg) translate(1px, -6px);
        transition: 0.3s ease-in-out;

    }
}

/* Responsive Create and Share, hero, and designed sections */

@media (max-width: 692px) {
    .hero {
        flex-direction: column-reverse;
        align-items: center;
    }


    .hero__image--container {
        background-image: url('/assets/home/mobile/create-and-share.jpg');
        width: 100%;
        height: 400px;

    }

    .hero__text--container {
        min-height: 500px;
    }

    .stories {
        flex-direction: column;
        align-items: center;
    }

    .beautiful__stories--image {
        background-image: url('/assets/home/mobile/beautiful-stories.jpg');
        width: 100%;
        min-height: 400px;
    }

    .stories__text--container {
        min-height: 500px;
    }


    .designed {
        flex-direction: column-reverse;
        align-items: center;
    }


    .designed__image--container {
        background-image: url('/assets/home/mobile/designed-for-everyone.jpg');
        width: 100%;
        height: 400px;

    }

    .designed__text--container {
        min-height: 500px;
    }
}